.img{
    max-width: 200px ;
    max-height: 200px;
}

.currentProject{
    padding:  0 20px;
}

.buttonImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.btn{
    background-color: transparent;
    border: none;
    color: #ffffff;
    position: absolute;
    bottom:10%;
    cursor: pointer;
    font-size: 10px;
    text-decoration: none;
}

.btnn{
    background-color: transparent;
    border: none;
    color: #ffffff;
    position: absolute;
    top:10%;
    cursor: pointer;
    font-size: 10px;
}

.descriptionContainer{
    align-items: flex-start;
    background-color: white;
    padding: 10px;

}

.description{
    background-color: #c2c2c2;
    width:200px;
    padding: 1px;
}

.title{
    background-color: #c2c2c2;
    width: 100%;
    padding: 1px;
}

