.distance{
    min-height: 20vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.insideContainer{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid;

}

.line{
    height: 2px;
    border-radius: 10px;
    width: 100%;
    background: white;
}