.project{
    height: 100vh;
    background-color: #9dc94c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border: 1px solid;*/
    align-items: center;
    height: 80%;
}

.projects{
    border: 1px solid;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /*height: 80%;*/

}

/*.projectContainer {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border: 1px solid;*/
/*}*/

/*    position: absolute;*/
/*    padding: 10px;*/
/*    background-color: transparent;*/
/*    bottom: 0%;*/
/*    left:20%;*/
/*    border: none;*/
/*    color: #9dc94c;*/
/*}*/
