.distance{
    min-height: 20vh;
    background-color:goldenrod ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.insideContainer{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}