.contactsBlock{
    background-color: black;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.formContainer{
    margin-bottom: 20px;
}

.form{
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

