.contactsBlock{
    background-color: #95e1ef;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.formContainer{
    height: 50%;
}

.form{
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.input{
    margin-bottom: 5px;
}