.title{
    margin-bottom: 15%;
    padding: 0;
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.5px;
    position: relative;
}
.title:after{
    content:'';
    width: 30px;
    height: 2px;
    border-radius: 8px;
    background-color: white;
    bottom:-20%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
}
