.skill{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    width:100%;
    border: 1px solid;
}

.spanSkill{
text-align: center;
}

.icon{
    width: 60px;
    height: 60px;
    background-color: rgba(73, 71, 71, 0.6);
}