.mainBlock{
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}


.textBlock{
    background-color: #c2c2c2;
    font-family:'Rubik', sans-serif;
    width: 40%;
}
@media screen and (max-width: 604px){
    .textBlock{
        margin-top: 20%;
        margin-bottom: 5%;
        width: 80%;
    }
}

.mainTitle {
    font-size: 19px;
    color: #1e1e1e;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.ava{
    max-width: 300px;
    height: auto;
}

