.skillsBlock{
    background-color: #000000;
    min-height: 80vh;
    /*align-items: center;*/
    /*justify-content: center;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.title{
    padding: 5% 0;
}


.skillsContainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    height: 100%;
    padding:0 0 10% 0;
}

.skills{
    width: 100%;
    display: grid;
    /*repeat(auto-fit, [col-start] 250px [col-end])*/
    /*grid-template-columns: repeat(auto-fit,minmax(1fr, 4fr));*/
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    justify-content: space-between;

    color:white;
}

/*@media screen and(max-width: 1080px){*/
/*    .skills{*/
/*        */
/*    }*/
/*}*/



