.projectBlock{
    min-height: 100vh;
    background-color: black;
    /*display: flex;*/
    justify-content: center;
}

.container{
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 0;
}


.title{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


