.projectBlock{
    /*min-height: 100vh;*/
    background-color: black;
    /*display: flex;*/
    justify-content: center;
}

.container{
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1% 0 10% 0;
}


.title{
    padding: 5% 0;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


