.projectBlock{
    /*min-height: 100vh;*/
    background-color: black;
    /*display: flex;*/
    justify-content: center;
}

.container{
    /*max-width: 100%;*/
    /*min-height: 100%;*/
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*padding: 1% 0 10% 0;*/
    padding: 4%;
}


.title{
    padding: 2% 0;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


