.mainBlock{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}


.textBlock{
    background-color: #c2c2c2;
    font-family:'Rubik', sans-serif;

}

.mainTitle {
    font-size: 19px;
    color: #1e1e1e;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.ava{
    max-width: 250px;
    height: auto;
}
.line{
    height: 2px;
    border-radius: 10px;
    width: 100%;
    background: white;
}

