.header {
    height:80px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

