.contactsBlock{
    background-color: black;
    /*min-height: 50vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

    /*.formContainer{*/
    /*    margin-bottom: 20px;*/
    /*}*/

.form{
    border: 1px solid;
    display: flex;
    flex-direction: column;

}

.inputStyle{
    background-color: transparent;
    cursor: pointer;
    border-color: white;
    color: white;
    border-radius: 7px;
    font-family:'Rubik', sans-serif;
}
.textForm{
    min-height: 20vh;
}
